---
// Esto se ejecutara solamente en desarrollo
console.log("Solamente en desarrollo");

// Aquí podriamos traer datos de un servidor
// o otro sitio y poderlos convertir a html o
// una nueva página
const title = "My Project in Astro!";
const color = "title warning";
const hobbies = ["Develop", "Read", "Write", "Show Movies"];
const isActive = false;

// TODO: Layours

import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1 class={color}>Astro</h1>
	<a href="/blog/notes">Notes</a>
	<br />
	<a href="/about">About</a>
	<br />
	<a href="/blog/how-make-things">Compleje route</a>
	<p>{isActive ? "Active" : "Desactive"}</p>

	<!-- && -->
	<h3 class={color}>
		{isActive && "El usuario esta activo"}
		{!isActive && "El usuario esta desactivo"}
	</h3>

	<!-- TODO: Prestar atención a esto -->
	<ol>
		{hobbies.map((hobbie) => <li>{hobbie}</li>)}
	</ol>
	<ul>
		{
			hobbies.map(function (hobbie) {
				return <li>{hobbie}</li>;
			})
		}
	</ul>

	<script>
		console.log("Hi!");
	</script>

	<style>
		.title {
			font-family: sans-serif;
		}
		.warning {
			color: orange;
		}
	</style>
</Layout>
